@layout('layouts/main')

@section('title')
Whiskey | Whisky
@endsection
@section('content')
<section class="content-area home-page">
  <div class="top-section">
        <div class="product">
          <div class="circle">
            <img src="img/products/KnobCreek.png">
          </div>
        </div>
        <div class="titles">
            <h3>Knob Creek</h3>
            <h1>Smoked Maple</h1>
          </div>
      </div>
</section>
@endsection